<form asp-action="AddBillService" asp-controller="ServiceOrder">
    <button type="submit">Order Bill Service</button>
</form>

<form asp-action="AddTaxService" asp-controller="ServiceOrder">
    <button type="submit">Order Tax Service</button>
</form>
<form asp-action="AddCreditService" asp-controller="ServiceOrder">
    <button type="submit">Order Credit Service</button>
</form>
