@model CardEntity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-action="ShowBalance" asp-area="ATM" asp-controller="ATM" asp-route-id="@Model.CardId">Show Balance</a>
<a asp-action="ChangePinCode" asp-area="ATM" asp-controller="ATM" asp-route-id="@Model.CardId">Change Pin Code</a>
<a asp-action="WithdrawCash" asp-area="ATM" asp-controller="ATM" asp-route-id="@Model.CardId">Withdraw Cash</a>
<a asp-action="CashIn" asp-area="ATM" asp-controller="ATM" asp-route-id="@Model.CardId">Cash In</a>