@model CardEntity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Your custom styles for ATM interface */
    .form-control {
        margin-bottom: 10px;
    }

    .btn {
        margin-bottom: 10px;
    }

    .mk-balance {
        position: relative;
        display: inline-block;
        font-size: 18px;
    }

    #balance {
        font-size: 16px;
        cursor: pointer;
    }

    #open_balance {
        opacity: 0.3;
        font-size: 12px;
        cursor: pointer;
    }

    .eye-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .hidden {
        display: none;
    }
</style>

<form asp-action="CashIn" asp-controller="ATM" asp-area="ATM">
    <input class="form-control" style="width:179px; display:inline;" asp-for="@Model.AccessibleMoney" placeholder="Add to balance" />
    <button class="btn btn-success btn-sm" type="submit">Add</button>
</form>

<hr />

<form asp-action="WithdrawCash" asp-controller="ATM" asp-area="ATM">
    <input class="form-control" style="width:179px; display:inline;" asp-for="@Model.AccessibleMoney" placeholder="Withdraw from balance" />
    <button class="btn btn-success btn-sm" type="submit">Withdraw</button>
</form>
@* 
<hr />

<form asp-action="ChangePinCode" asp-controller="ATM" asp-area="ATM">
    <input class="form-control" style="width:179px; display:inline;" asp-for="@Model.PinCode" placeholder="Change PinCode" />
    <button class="btn btn-success btn-sm" type="submit">Change Pin Code</button>
</form> *@

<div class="mk-balance">
    <div id="balance">******** AMD</div>
    <div id="open_balance">@Model.AccessibleMoney AMD</div>
    <i id="toggleButton" class="eye-icon zmdi zmdi-eye"></i>
</div>

<script>
    const balanceDiv = document.getElementById('balance');
    const openBalanceDiv = document.getElementById('open_balance');
    const eyeIcon = document.getElementById('toggleButton');

    eyeIcon.addEventListener('click', function () {
        if (balanceDiv.style.display === 'inline') {
            balanceDiv.style.display = 'none';
            openBalanceDiv.style.display = 'inline';
            eyeIcon.classList.remove('zmdi-eye');
            eyeIcon.classList.add('zmdi-eye-off');
        } else {
            balanceDiv.style.display = 'inline';
            openBalanceDiv.style.display = 'none';
            eyeIcon.classList.remove('zmdi-eye-off');
            eyeIcon.classList.add('zmdi-eye');
        }
    });

    balanceDiv.addEventListener('mouseenter', function () {
        openBalanceDiv.classList.remove('hidden');
    });

    balanceDiv.addEventListener('mouseleave', function () {
        openBalanceDiv.classList.add('hidden');
    });
</script>