@model CardEntity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="WithdrawCash" asp-controller="ATM" asp-area="ATM">
    <input asp-for="AccessibleMoney" type="number" placeholder="Type money withdraw money amount"/>
    <button type="submit">Withdraw Money</button>
</form>